
.wrapper {
  background-color: wheat;
  padding-left: 100px;
  padding-right: 100px;
  width: 1100px;
  margin: auto;
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
}